@charset "UTF-8";
@use "../global" as *;

/*============================
.l-container
============================*/
.l-container {
  /* IE11 */
  @include onlyBrowser(ie11){
    overflow-x: hidden;
    overflow-y: visible;
  }
}

.content_top{
  padding-top: 10px;
  border-top: 1px solid #f3dace;
}


