@charset "UTF-8";
@use "../global" as *;

/*============================
.l-underHeader
============================*/
.l-header {
  position: relative;
  width: 100vw;
  height: 90px;
  background-image: url("../images/global/headerbc.png");
  background-size: cover;
  background-repeat: no-repeat;
  &__tit{
    display: flex;
    align-content: center;
    position: relative;
    width: 100%;
    height: 90px;
    .liftagelogo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 128px;
      height: 56px;
    }
  }
  &__btn{
    max-width: 202px;
    width: 100%;
    height: 49px;
    a{
      max-width: 202px;
      width: 100%;
      height: 49px;
      background-color: $wht01;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 27px;
      color: $text-base-color;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 51px;
    }
    &-txt{
      @include fontStyle();
      font-size: 18px;
      font-weight: bold;
    }
    &-icon{
      max-width: 24px;
      width: 100%;
      height: 24px;
      mask-image: url("../images/global/Iconly-Broken-Buy.svg");
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: $theme-color;
    }
  }
}
