@charset "UTF-8";
@use "../global" as *;

/*============================
.l-mv
============================*/
.l-mv {
  width: 100vw;
  min-height: 428px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/top/top_02.png");
  &__inner {
    position: relative;
    min-height: 813px;
    max-width: 1080px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  &__tit {
    width: fit-content;
    height: auto;
    position: absolute;
    top: 234px;
    transform: translateY(-50%);
    left: 29px;
  }
  &__img {
    &Top{
      position: absolute;
      top: 111px;
      right: 91px;
      &02{
        position: absolute;
        left: 14px;
        bottom: 259px;
      }
      &03{
        position: absolute;
        bottom: 36px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &Drink {
      position: absolute;
      bottom: 27px;
      right: 163px;
    }
    &Collagen {
      position: absolute;
      bottom: 46px;
      right: 22px;
    }
    &Ingredients{
      position: absolute;
      bottom: 0px;
      right: 71px;
    }
    &Order{
      position: absolute;
      right: 0;
      bottom: 122px;
    }
    &voice_mv{
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  &__txt{
    max-width: 785px;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 196.4px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32.5px;
    &Item {
      @include fontStyle();
      font-size: 14px;
      color: $wht01;
      padding-right: 10.5px;
      padding-left: 10.5px;
      & + li {
        border-left: 1px solid $wht01;
      }
      a {
        color: $wht01;
        letter-spacing: 0.05em;
        line-height: calc(24 / 14);
        padding-bottom: 10px;
        &.current {
          border-bottom: 1px solid $wht01;
        }
      }
    }
  }
}
