@charset "UTF-8";
@use "sass:map";
@use "sass:math";
@use "variable" as *;
@use "function" as *;
@use "mixin" as *;

/*============================
animation
============================*/
@keyframes moveleft {
  40% {
    width: 100%;
  }
  100% {
    width: 100%;
    transform: translate3d(111%, 0, 0);
  }
}
@keyframes moveBg {
  100% {
    transform: translateX(0);
  }
}
@keyframes moveright {
  40% {
    width: 100%;
  }
  100% {
    width: 100%;
    transform: translate3d(-111%, 0, 0);
  }
}
@keyframes moveLayer {
  40% {
    width: 100%;
  }
  100% {
    width: 100%;
    transform: translateX(111%);
  }
}
@keyframes fadein {
  100% {
    opacity: 1;
  }
}
@keyframes fadeinblock {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// 買い物ボタンアニメーション
.js-btn-01 {
  transition: transform 0.3s ease;
  position: relative;
  &::after {
    top: 0;
    left: 0;
    position: absolute;
    content: "";
    display: block;
    max-width: 202px;
    width: 100%;
    height: 49px;
    background-color: $theme-color;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
  }
  &.smoothing {
    &::after {
      transform: scaleX(1);
    }
  }
}

.l-header__btn-txt {
  transition: color 0.3s;
  &.change__color {
    color: $wht01;
  }
}
.l-header__btn-icon {
  transition: all 0.3s;
  transform: translateX(0px);
  &.change__color {
    background-color: $wht01 !important;
    transform: translateX(5px);
  }
}

// メインボタンアニメーション
.m-foot__btn {
  .js-btn-02 {
    position: relative;
    z-index: 2;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      max-width: 303px;
      width: 100%;
      height: 59px;
      background-color: $theme-color;
      transition: all 0.3s;
      transform: scaleX(0);
      transform-origin: left;
      z-index: -1;
    }
    &.left-right {
      &::after {
        transform: scaleX(1);
      }
    }
  }
  &-icon {
    transition: all 0.3s;
    &.change__color02 {
      background-color: $wht01 !important;
      transform: translateX(-17px);
    }
  }
  &-txt {
    transition: color 0.3s;
    &.change__color02 {
      color: $wht01;
    }
  }
}

// FaQ内のボタン
.m-faq-main__answer-btn {
  .js-btn-03 {
    position: relative;
    z-index: 2;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      max-width: 303px;
      width: 100%;
      height: 59px;
      background-color: $theme-color;
      transition: all 0.3s;
      transform: scaleX(0);
      transform-origin: left;
      z-index: -1;
    }
    &.left-right03 {
      &::after {
        transform: scaleX(1);
      }
    }
  }
  &__icon {
    transition: all 0.3s;
    &.change__color03 {
      background-color: $wht01;
      transform: translateX(-17px);
    }
  }
  &__txt {
    transition: color 0.3s;
    &.change__color03 {
      color: $wht01;
    }
  }
}

// FAQ
.UP{
  transform: rotate(0deg);
  transition: all .3s;
  &.rotate{
    transform: rotate(180deg);
  }
}



// スライドアップアニメーション
.js-scroll__slide-up {
  transition: all 0.5s 0.1s;
  transform: translateY(30px);
  opacity: 0;
  &.is-active {
    transform: translateY(0px);
    opacity: 1;
  }
}

// faq linkアニメーション
.js-faq__link {
  &.current {
    &::after {
      content: "";
      display: block;
      max-width: 294px;
      width: 100%;
      height: 1px;
      background-color: $theme-color;
      transform: scale(1) !important;
    }
    a p {
      color: $theme-color !important;
    }
  }
}
