@charset "UTF-8";

// -----------------------
// base colors
// -----------------------
$theme-color: #840A47;
$accent-color: #CFA513;
$text-base-color: #2F252A;

// -----------------------
// 背景グラデーション colors
// -----------------------
$gradation01:#A00338;

// -----------------------
// 商品購入の背景 colors
// -----------------------
$item-back:#F4E1E2;

// -----------------------
// imgPath
// -----------------------
$imgPath: "../";

// -----------------------
// color list
// -----------------------
// 白
$wht01: #ffffff;

// 黒
$blk01: #000000;
$blk02: #2c2c2c;
$blk03: #2F252A;

// 青
$blue01: #2da8e1;
$blue02: #0042ff;
// $blue03:#BFE5F6;
// $blue04:#F2FAFE;
// $blue05:#E8F5FC;

// ピンク
$pink01:#f7699c;
$pink02: #EED5E1;
$pink03: #F8EDF3;
$pink04: #DC1A5B;
$pink05: #F4E1E2;
$pink06: #F7EFF3;

// 赤
$red01: #d96382;

// グレー
$grey01: #B5B5B5;
$grey02: #484848;
$grey03: #bababa;
$grey04: #e0e0e0;
$grey05: #707070;
$grey06: #f4f4f4;
$grey07: #f5f5f5;
$grey08: #A8A4A6;
$grey09: #F0F0F0;

// オレンジ
$orange01: #ee8a18;

// 黄色
$yellow01: #fff1e2;

// ゴールド
$gold01: #D39713;
$gold02: #CFA513;
$gold03: #DFBF6E;

// 緑
$green01: #3A9F39;